body{
    
  background-color: #d9d9d9;
}

.gameWrapper {
  margin: 10% 10% 0 10%;
  font-family: sans-serif;
  background-color: #ededed;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: sans-serif;

  img {
    width: 100%;
    object-fit: fill;
  }

  h1{
    text-align: center;
    padding-top: 10px;
  }

  p{
    font-size: 18px;
  }
   h2{margin-left: 80%;}
}
